@tailwind base;
@tailwind components;
@tailwind utilities;   


body {
  @apply bg-gray-300 text-gray-900 font-sans antialiased;
}



/*h1, h2, h3 {
  @apply font-bold text-gray-800;
}

a {
  @apply text-blue-600 hover:underline;
}

button {
  @apply px-4 py-2 rounded bg-blue-500 text-white hover:bg-blue-600;
}


/*body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f7f7f7;
}

input, button {
  padding: 8px;
  margin: 4px;
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
}*/
